<header class="site-header">
  <div class="container">
    <nav class="nav">
      <div class="brand">
        <img class="logo" src="assets/img/avatar.jpg" alt="老王头像" onclick="location.href=(location.pathname.includes('/pages/')?'about.html':'pages/about.html')" />
        <a class="title" href="index.html">老王研究所</a>
        <div class="social-card">
          <div class="title">关注老王</div>
          <div class="links">
            <a href="https://www.xiaohongshu.com/user/profile/602c0b3d00000000010023f6?xsec_token=ABxo3_4V34yVG0pWWDe9N9f4ZHijFzoWh-96BOeJ3cJmQ%3D&xsec_source=pc_search" target="_blank" rel="noreferrer">
              🔴 小红书 <span class="followers">2万+ ❤7万+</span>
            </a>
            <a href="https://www.douyin.com/user/MS4wLjABAAAAnqAhYi77cp7qAHVuwqD3he-UVIV3WKeknlzpXUXlITVq7Vqzj0mUFQDJpBA8eJ4M?from_tab_name=main" target="_blank" rel="noreferrer">
              🎵 抖音 <span class="followers">1万+ ❤2万+</span>
            </a>
            <a href="#" onclick="alert('视频号二维码：敬请期待')" rel="noreferrer">
              📱 视频号 <span class="followers">3000+ ❤1万+</span>
            </a>
            <a href="https://space.bilibili.com/30764585?spm_id_from=333.1007.0.0" target="_blank" rel="noreferrer">
              📺 B站 <span class="followers">100+ ❤100+</span>
            </a>
          </div>
        </div>
      </div>
      <div class="nav-links">
        <a href="index.html" data-link="index.html">首页</a>
        <a href="pages/code.html" data-link="pages/code.html">代码中心</a>
        <a href="pages/tutorials.html" data-link="pages/tutorials.html">教程中心</a>
        <a href="pages/fun.html" data-link="pages/fun.html">互动乐园</a>
        <a href="pages/members.html" data-link="pages/members.html">会员专区</a>
        <a href="pages/paid.html" data-link="pages/paid.html">付费下载</a>
        <a href="pages/about.html" data-link="pages/about.html">关于老王</a>
        <span class="tag" id="member-badge">游客</span>
        <button class="btn" id="member-action">登录/注册</button>
        <button class="btn" id="theme-toggle" title="切换主题">浅色</button>
      </div>
    </nav>
  </div>
</header>


